.display__wrapper{   
    padding-top: 50px; 
    padding-bottom: 100px;
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    overflow: visible;

}

.display__container { 
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: visible;
}

.display { 
    width: 100vw;
    height: 100%;
    overflow: visible;

}

.display h1 {
    background-color: #fff;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-size: 3rem;
}

.display p { 
    color:  #fff;
    font-size: 1.3rem;
    max-width: 80%;
    margin: 3rem auto;
    text-align: center;
}

.display__individual { 
    height: 25vh;
    overflow: visible;
}

.display__individual img {
    max-width: 25vw;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    margin: auto 30px;
}

.display__individual audio { 
    
}

@media screen and (max-width: 960px) {
    .display h1 {
        font-size: 3rem;
    }

    .display p { 
        font-size: 1.2rem;
    }

    .display__container { 
        flex-direction: column;
    }

    .display__individual img {
        max-width: 80vw;
        border-radius: 20px;
    }

    .display__individual { 
        margin-bottom: 100px;
    }
}