.info__wrapper{    
    padding-bottom: 100px;
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    height: 100%;
}

.info {
    width: 100vw;
}

.info__imgContainer { 
    position: relative;
    height: 13vh;
    overflow: visible;
    padding-bottom: 70px;
}

.info__imgContainer img { 
    height: 100%;
    width: 130vw;
    overflow: visible;
}

.info h1 {
    background-color: #fff;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-size: 3rem;
}

.info p { 
    color:  #fff;
    font-size: 1.3rem;
    max-width: 80%;
    margin: 3rem auto;
    text-align: center;
}


@media screen and (max-width: 960px) {
    .info h1 {
        font-size: 3rem;
    }

    .info p { 
        font-size: 1.2rem;
    }

    .info__imgContainer { 
        overflow: hidden;
    }
    
    .info__imgContainer img { 
        height: 100%;
        width: 130vw;
        overflow: visible;
    }
}