.navbar {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    top: 0;
    z-index: 20;
    position: relative;
    width: 100vw;
    font-weight: 400;
    overflow-x: visible;
  }

  .nav__imgLogo { 
    border-radius: 50%;
    height: auto;
    width: 75px;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
  }
  
  .nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 22vh;
    max-width: 1500px;
    flex-direction: column;
  }

  .nav-container ul {
    margin: 0;
    padding-left: 0;
  }

  .nav-container li { 
    margin-right: 5px;
    margin-left: 5px;
  }
  
  .nav-logo {
    color: #fff;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.9rem;
    z-index: 2;
    overflow: visible;

  }

  .nav-logo h2 { 
    margin-bottom: 5px;
    overflow: visible;
  }

  .nav-logo:hover{ 
    color: #fff;
  }
  
  .nav-menu {
    display: flex;
    list-style: none;
    text-align: center;
  }
  
  .nav-links {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 0.5rem;
    height: 100%;
    border-bottom: 3px solid transparent;
    overflow-y: hidden;
  }
  .fa-code {
    margin-left: 1rem;
  }
  
  .nav-item {
    line-height: 40px;
    margin-right: 1rem;
    overflow-y: hidden;
    transition: all 0.35s;
  }

  .nav-item:hover { 
    transform: scale(1.1);
  }
  
  .nav-item a { 
      color: #fff;
      font-size: 1.2rem;
  }
  
  .nav-icon {
    display: none;
  }
  
  @media screen and (max-width: 960px) {
    .navbar { 
      padding-top: 0px;
    }

    .nav-container { 
      flex-direction: row;
      height: 15vh;
    }
    
    .nav-logo { 
      font-size: 1.8rem;
      margin-left: 25px;
      margin-bottom: 15px;
    }

    .nav-logo h2 { 
      margin-bottom: auto;
      margin-top: auto;
      overflow: visible;

    }

    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: -600%;
      opacity: 1;
      transition: all 0.5s ease;
      margin-right: 0;
      padding-left: 9px;
      padding-top: 100px;
    }
  
    .nav-menu.active {
      background: #000;
      padding-top: 150px;
      top: 0px;
      left: 0px;
      right: 0px;
      opacity: 1;
      padding-left: 9px;
      transition: all 0.5s ease;
      width: 98vw;
      height: 85vh;
    }

    .nav-item { 
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .nav-item .active {
      color: #fff;
      border: none;
    }

    .nav-links {
      padding: .5rem;
      width: 100%;
      display: table;
      padding-top: 30px;
    }
  
    .nav-icon {
      display: block;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
      color: #fff;
      margin-bottom: 50px;
    }
  }
  