.roadmap {
  overflow-x: visible;
  background-color: #000;
  color: #fff;
}

.roadmap__wrapper { 
  padding-top: 150px;
}

.titleWrapper { 
  padding: 0 200px;
}

.wrapper {
  padding: 0 100px;
}

.roadmap h1 { 
  font-size: 3rem;
  text-align: center;
  color: #fff;
  padding-top: 60px;
  margin-top: 0;
  margin-bottom: 0;
}

.roadmap__elements {
  margin:0; 
  margin-top: -3px;
  padding: 10px 30px 10px 30px;
  position: relative;
  overflow-x: visible;
  text-align: center;
}

.roadmap__elementFirst { 
  margin:0; 
  margin-top: -3px;
  padding: 10px 30px;
  padding-bottom: 40px;
  position: relative;
  overflow-x: visible;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
}

.roadmap__elements h2 { 
    font-size: 1.6rem;
}

.roadmap__elements p { 
  font-size: 1.2rem;
}

@media screen and (max-width: 960px) {
  .titleWrapper { 
    padding: 0 100px;
  }
  
  .wrapper {
    padding: 0 100px;
  }

}

@media screen and (max-width: 480px) {
  .titleWrapper { 
    padding: 0;
  }
  
  .wrapper {
    padding: 0;
  }
  
  .roadmap h1 { 
    border-right: none;
  }
  
  .roadmap__elements {
    border-top: none;
    border-bottom: none;
  }
  
  .roadmap__elements h2 { 
    font-size: 1.5rem;

  }
  
  .roadmap__elements p { 
    font-size: 0.9rem;
  }
  
 
}