.timeline { 
    background-image: linear-gradient(#c4daee, #fff);
}

.timeline__container {
	max-width: 55vw;
	width: 90%;
	margin: 0 auto;
    overflow-x: visible;
}

.timeline__title { 
    font-size: 3.6rem;
    text-align: center;
    margin-bottom: 70px;
    margin-top: 140px;
}

.timeline-item {
    padding: 20px 35px;
	position: relative;
	color: rgba(black, .7);
	border-left: 2px solid #000;
    overflow-x: visible;
    display: flex;
    flex-direction: row;
}

.timeline-item p { 
    font-size: 1rem;
}

.timeline-item::before { 
    content: attr(dropNum);
    position: absolute;
    left: 35px;
    font-weight: bold;
    top: .6em;
    display: block;
    font-weight: 700;
    font-size: 1.2rem;
}

.timeline-item::after { 
    width: 10px;
    height: 10px;
    display: block;
    top: 1em;
    position: absolute;
    left: -8px;
    border-radius: 10px;
    content: '';
    border: 2px solid #000;
    background: white;
}

.timeline-item:last-child { 
    border-left: 2px solid transparent;
    border-image: linear-gradient(#000, #c4daee);
    border-image-slice: 1;
    padding-bottom: 60px;
}

.timeline__text { 
    width: 35vw;
    margin-right: 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

.timeline__img { 
    margin-left: 8px;
    margin-right: 8px;
    width: 13vw;
    height: auto;
    border-radius: 30px;
    object-fit: contain;
    border: 3px solid #000;
}

@media screen and (max-width: 960px) {
    .timeline__title {
        margin-top: 60px;
    }

    .timeline-item { 
        flex-direction: column;
        text-align: center;
    }

    .timeline-item::before { 
        left: 45px;
    }

    .timeline__img { 
        margin-left: 4px;
        width: 25vw;
    }

    .timeline__text h1 { 
        font-size: 1.5rem;
    }
}
	